body {
    margin: 0;
    background-color: #323232;
    color: black;
}

body h1 {
    text-align:center;
    font-family: sans-serif;
}

#download {
    border-radius: 20px;
    height: 40px;
    background-color: #77BFA3;
    width: 50%;
    padding: 10px;
    font-size: medium;
    font-weight: 600;
    margin-left: 25%;
    margin-top: 50px;
    color: black;
}